.datepicker {
  position: relative;
}

.datepicker__core {
	margin: 10px;
	width: 384px;
	height: 56px;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	border: 1px solid $black1;
	border-radius: 4px;
  &:focus {
    background-color: $blue2;
    color: $white2;
		transition-duration: 150ms;
	}
}

.datepicker__core-icon {
  position: absolute;
  top: 15px;
  right: 22px;
  // fill: $white2;
  stroke: $white2;
  color: $white2;
}

// .datepicker__core-icon path {
//   fill: inherit;
//   stroke: inherit;
// }
