.history {
	margin: 25px 10px 10px 10px;
	padding: 25px 82px 19px 69px;
	background-color: $white3;
	border-radius: 4px;
}

.history__title {
	margin-top: 19px;
	margin-bottom: 38px;
	font-weight: 500;
	font-size: 28px;
	line-height: 39px;
  text-align: center;
}

.history__list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  padding-left: 50px;
	align-content: space-between;
	max-height: 650px;
	list-style-type: none;
  font-family: 'PT Mono';
	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 1px;
		height: 110%;
		left: 50.5%;
		top: -7%;
		background-color: $white5;
		box-shadow: 0 0 1px 0.4px rgba(0, 0, 0, 0.2);
	}
}

.history-notice {
  text-align: center;
}

.history__item {
  position: relative;
	width: 35%;
	padding: 5px 5px 5px 30px;
  border-left: 2px solid $blue1;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.history__sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 17px;
  left: -19px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $white1;
  // background-color: $blue1;
  // border-color: $white1;
  border: $blue1 1px solid;

  &-icon {
    color: $blue1;
    font-size: 29px;
    // animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}

.history__field {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 1px 10px 8px 10px;
  color: white;
  background-image: linear-gradient(90deg, $blue1 50%, $blue3 50%);
  background-size: 300%;
  transition: all 0.6s;
  cursor: pointer;

  border: $blue1 2px solid;
  border-radius: 10px;

  &:hover {
    color: black;
    border: black 2px solid;
    background-position: 100%;
    transform: translateX(-2px);
  }

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
  }
}

.history__date {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.history__second-line {
  display: flex;
  justify-content: center;
  align-items: center;
  .history__span {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.history__arrow {
  height: 24px;
}

.history__wave {
  background: url(/img/wave.svg) repeat-x;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);

  &:nth-of-type(2) {
    height: 170px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
}

.history__actions {
  display: flex;
  justify-content: center;
  margin: 35px 0;
  button {
    width: 54px;
    min-height: 50px;
    font-size: 25px;
    margin: 0 5px;
    color: $white3;
    background-color: $blue1;
    border: $blue2;
    border-radius: 4px;
    transition-duration: 200ms;
    &:hover {
      color: $blue1;
      background-color: $white3;
      border: 1px solid $blue1;
      border-radius: 6px;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-25 15:32:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
