.logo {
  // animation: blink 3s infinite linear alternate;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 20px 0 20px;
  text-shadow: 0 0 5px $purple,
  0 0 10px $purple,
  0 0 20px $purple,
  0 0 40px $purple,
  0 0 80px $purple,
  0 0 100px $purple,
  0 0 120px $purple;

  .icon-logo {
    margin: 0 5px;
    fill: $purple;
  }

	.logo-letter {
    animation: blink 4s infinite linear alternate;
    margin: 0 3px;
		font-family: 'LondrinaOutline', sans-serif;
		font-weight: 700;
		font-size: 35px;
		line-height: 55px;
		color: $lightCyan;
	}
}

@keyframes blink {
	60%, 70%, 79% {
		opacity: 1;
	}
	65%, 67%, 76%, 78% {
		opacity: .2;
	}
	66%, 69%, 77% {
		opacity: .8;
	}
}
