.logo {
	width: 165px;
	margin-right: 30px;
	padding-bottom: 10px;
	text-decoration: none;
	span {
		font-family: "Open Sans", "Arial", sans-serif;
		font-weight: 700;
		font-size: 19px;
		line-height: 24px;
		margin-left: 4px;
		letter-spacing: 0.3px;
		color: $black1;
	}
}