.sums {
	display: flex;
	flex-direction: column;
}

.sums__layout {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 65px;
}

.sums__arrows {
	display: flex;
	align-items: flex-end;
	margin: 10px 0 10px 0;
}

.sums__submit {
	width: 382px;
	min-height: 56px;
	margin: 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: $white3;
	background-color: $blue1;
	border: $blue2;
	border-radius: 4px;
	&:hover {
		color: $blue1;
		background-color: $white3;
		border: 1px solid $blue1;
		border-radius: 6px;
		transition-duration: 150ms;
	}
	&:active {
		opacity: 0.5;
		transition-duration: 150ms;
	}
}
