.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 80px;
  background-color: $violet;
}

.about__bottom {
  display: flex;
  justify-content: space-between;
  flex: 1 100%;

  &-copyright {
    font-weight: 400;
    font-size: 19px;
    line-height: 40px;
    padding-left: 17px;
    color: #e5e5e5;
  }

  &-list {
    display: flex;
    list-style-type: none;
    padding: 0 25px 0 0;
  }

  &-item a {
    font-weight: 400;
    font-size: 19px;
    line-height: 40px;
    padding-left: 17px;
    color: #e5e5e5;
    text-decoration: none;
  }
}

.about__slider {
  position: absolute;
  bottom: 10px;
  left: 28%;
  width: 600px;
  height: 180px;
  overflow: hidden;

  border: $lightCyan 1px solid;
  border-radius: 5px;
  background: linear-gradient($lightCyan 20%, $blue4 95%);
  // background: linear-gradient(-66.001deg, $blue2 60%, $lightCyan 60%, $blue4 95%);
  background-size: 210%;
  transition: all 0.4s linear;

  // &:hover {
  //   background-position: -580px;
  //   box-shadow:5px 5px 25px rgba(0,0,0, .5);
  //   transform: translate(-3px, -3px);
  // }
  &:hover {
    // background-position: -580px;
    box-shadow:5px 5px 25px rgba(0,0,0, .5);
    transform: translate(-3px, -3px);
  }

  // &:hover .about__portrait,
  // &:hover .about__top-layer {
  //   left: 2%;
  // }
}

.about__title {
  position: relative;
  user-select: none;
  width: 480px;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 130px;
  color: $violet;

  &-text1 {
    font-family: 'LondrinaOutline', sans-serif;
  }

  &-text2 {
    position: absolute;
    left: 56px;
    top: -53px;

    font-family: 'LondrinaSolid', sans-serif;
    animation: textWave 4s ease-in-out infinite;
  }
}

.about__top-layer {
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  left: 75%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: $violet;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.4s linear;

  &--active {
    left: 2%;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-size: 30px;

  &-item {
    margin: 0 5px;
  }
}

.about__portrait {
  position: absolute;
  overflow: hidden;
  top: 21px;
  left: 74%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: $blue2 6px solid;
  background-color: $blue2;
  transition: all 0.4s linear;
  transform: rotate(-2deg);

  &-photo1 {
    position: absolute;
    left: -2px;
    top: -8px;
    width: 132px;
    background-color: $blue2;
  }

  &-photo2 {
    position: absolute;
    left: -2px;
    top: -8px;
    width: 132px;
    background-color: $blue2;
    filter: saturate(1.4);
    animation: photoGlitch 2.3s -.8s infinite linear alternate;
  }

  &--active {
    left: 2%;
  }
}

// .about__top-layer-text {
  // font-family: 'Indie Flower';
  // text-align: right;
  // font-size: 18px;
  // font-weight: 500;
// }

@keyframes photoGlitch
{
	0% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
	50% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
	55% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
	60% {clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%); transform: translateX(1%);}
	65% {clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); transform: translateX(1%);}
	75% {clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%); transform: translateX(1%);}
	80% {clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%); transform: translateX(1%);}
	85% {clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); transform: translateX(1%);}
	90% {clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); transform: translateX(1%);}
	95% {clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%); transform: translateX(1%);}
	98% {clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%); transform: translateX(3%);}
	100% {clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%); transform: scale(2, 0.5);}
}

@keyframes textWave
{
  0%, 100%
  {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
  }
  50%
  {
    clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 40%, 100% 100%, 0% 100%)
  }
}
