.header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  width: 1226px;
  z-index: 10;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 70px;
  background: linear-gradient(180deg, $steelBlue, $blue1);
  &--hidden {
    top: -91px;
  }
}

.header__navigator {
	margin: auto;
}

.header__navigator-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 30px 0;
	list-style-type: none;
}

.header__navigator-item {
	min-height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	& a {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
    padding: 0 5px;
		text-decoration: none;
		word-wrap: break-word;
    border-radius: 3px;
		color: $lightCyan;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;

		&:hover {
      box-shadow: 0 0 5px $green1,
        0 0 10px $green1,
        0 0 30px $green1,
        0 0 60px $green1,
        0 0 120px $green1;
      background: $green3;
      color: #112;
		}
		&:active {
      box-shadow: 0 0 5px $green2,
        0 0 10px $green2,
        0 0 30px $green2,
        0 0 60px $green2,
        0 0 120px $green2;
      background: $green3;
			transition-duration: 150ms;
		}
	}
}
