$white1: #e5e5e5;
$white2: #ffffff;
$white3: #f6f7ff;
$white4: #e0e1ea;
$white5: #d6d7e0;
$black1: #1f1e25;
$blue1: #2c36f2;
$blue2: #2c36f3;
$blue3: #5058e6;
$blue4: #0e9ff3ef;
$red: #b22222;
$gray1: #999999;
$gray2: #707c87;
$pink: #fc5f98;
$pink2: #fc5ffc;
$purple: #a48ff2;
$steelBlue: #4682b4;
$lightCyan: #e0ffff;
$green1: #00fff5;
$green2: #91fac6;
$green3: #8dfcf8;
$green3: #00f2ff;
$green4: #33ff00;
$green5: #3CB371;

$ease: cubic-bezier(.2,1,.3,1);
