.footer {
  position: relative;
  overflow: hidden;
}

.footer__core {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 80px;
  background-color: $blue1;

}

.footer__target {
	padding: 12px 36px 12px 19px;
}

.footer__location {
	width: 264px;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	color: $white1;
}

.footer__media {
  display: flex;
}

.footer__media-icon {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;

  &:nth-child(1){
    background: #4267B2;
  }

  &:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }

  &:nth-child(2){
    background: #1DA1F2;
  }

  &:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }

  &:nth-child(3){
    background: #E1306C;
  }

  &:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }

  &:nth-child(4){
    background: #0077B5;
  }

  &:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }

  &:nth-child(5){
    background: #FF0000;
  }

  &:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
}
