.organizer {
  position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;

  overflow: hidden;
	color: $violet;
}

.organizer__label {
  position: absolute;
  width: 170px;

  margin: 9px;

  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;

  transition: .1s ease-in-out;

  &--active {
    left: 0;
    top: 1px;
    width: 30px;

    font-size: 27px;
    // text-align: start;
    border-radius: 5px;
  }
}

.organizer__select {
  position: relative;

  &-icon {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 29px;
    pointer-events: none;
    color: $violet;
  }

  &-core {
    width: 50px;
    min-height: 51px;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    background-color: $lightCyan1;

    text-align-last: left;
    padding-left: 6px;
    border: 1px solid $violet;
    border-radius: 6px;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.organizer__input {
	width: 140px;
  padding: 0 0 0 45px;
  margin-right: 5px;

	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
	text-align: center;
  color: $violet;
  background-color: $lightCyan1;

	border: 1px solid $violet;
	border-radius: 6px;
  outline: none;

  &:focus {
    outline: none;
  }

  &--error {
    box-shadow: 0 0 3px 2px $red;
  }
}
