.history {
	margin: 10px 10px 10px 10px;
	padding: 15px 40px 15px 40px;
	// background-color: $steelBlue;
	background-color: $blue4;
	border-radius: 12px;
  // user-select: none;
}

.history__title {
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 38px;
	line-height: 45px;
  text-align: center;
}

.history__list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  padding-left: 20px;
	align-content: flex-start;
	max-height: 320px;
	list-style-type: none;
  font-family: 'PT Mono';
}

.history__notice {
  text-align: center;
}

.history__item {
  position: relative;
	width: 300px;
	padding: 5px 35px 5px 25px;
  border-left: 2px solid $blue1;
	font-weight: 400;
	font-size: 11px;
	line-height: 24px;
  animation: fade-in 1600ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.history__sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 19px;
  left: -22px;
  width: 35px;
  height: 35px;
  border-radius: 28%;
  background-color: $white1;
  border: $blue1 2px solid;

  &-icon {
    color: $blue1;
    font-size: 29px;
  }
}

.history__sign--active {
  color: #008000;
}

.history__field {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 1px 10px 5px 10px;
  color: white;
  background-image: linear-gradient(90deg, $blue1 50%, $green5 50%);
  background-size: 300%;
  transition: all 0.6s;
  cursor: pointer;

  border: $blue1 2px solid;
  border-radius: 10px;

  &:hover {
    border: black 2px solid;
    opacity: 0.9;
    transform: translate(-2px, -2px);
  }
}

.history__field--active {
  color: black;
  font-weight: bold;
  background-position: 100%;
  transform: translate(2px, 2px);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.history__date {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.history__second-line {
  display: flex;
  justify-content: center;
  align-items: center;
  .history__span {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.history__arrow {
  height: 24px;
}

.history__wave {
  background: url(/img/wave.svg) repeat-x;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);

  &:nth-of-type(2) {
    height: 170px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
}

.history__actions {
  display: flex;
  justify-content: center;
  margin: 35px 0;
  button {
    width: 54px;
    min-height: 50px;
    font-size: 25px;
    margin: 0 5px;
    color: $white3;
    background-color: $blue1;
    border: $blue2;
    border-radius: 4px;
    transition-duration: 200ms;
    &:hover {
      color: $blue1;
      background-color: $white3;
      border: 1px solid $blue1;
      border-radius: 6px;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-25 15:32:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
