.rechart__pie {
  display: flex;
  justify-content: center;
  flex: 1;

  transition: all 0.2s linear;

  &:hover {
    box-shadow:5px 5px 25px rgba(0,0,0, .5);
    transform: translate(-2px, -2px);
  }
}
